
// Colors
$color-primary: #1F2531;
$color-secondary: #DAAE4F;
$color-third: #373B46;

// Title
$title-font-size: 2.6rem;
$title-font-weight: 400;
$title-font-line-height: 1.125;

// Subtitle
$subtitle-font-size: 1.50rem; // 1.25
$subtitle-font-weight: 400;
$subtitle-line-height: 1.25;
$subtitle-margin-bottom: 3.5rem;

// Column Title
$columntitle-font-size: 1.4rem;
$columntitle-font-weight: 400;
$columntitle-margin-top: 1rem;
$columntitle-margin-bottom: 0.7rem;

// Content Sections
$content-section-padding: 5rem 0;

// Content Container
$content-container-padding: 0 3rem;

// Light Black Overlay
$dark-overlay-bg-color: rgba(0, 0, 0, 0.7);
    