.color-primary {
  color: #1F2531 !important; }

.color-secondary {
  color: #DAAE4F !important; }

.navbar .navbar-brand p {
  font-size: 1.5rem;
  color: #1F2531;
  font-weight: 400;
  line-height: 1.125;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%); }

.section-header-main-image .image {
  background: url("../images/main_header.jpeg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 3.25rem); }

.section-header-main-image .container {
  text-align: center;
  position: relative;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%); }
  .section-header-main-image .container .fa {
    color: #fff;
    font-size: 8rem; }
  .section-header-main-image .container .title {
    font-size: 2.9rem; }
  .section-header-main-image .container .subtitle {
    font-size: 1.9rem; }
  .section-header-main-image .container .title, .section-header-main-image .container .subtitle {
    color: #fff !important;
    margin-top: 0.7rem;
    margin-bottom: 0; }

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.content-section {
  padding: 5rem 0; }

.content-container {
  padding: 0 3rem; }

.section-title {
  color: #1F2531;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.125; }

.section-subtitle {
  margin-bottom: 3.5rem !important; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25; }

.column-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.7rem; }

#main-section .container hr {
  background-color: #1F2531;
  width: 25rem;
  margin: 2rem auto;
  height: 1px; }

#main-section .container .columns {
  margin-top: 20px; }

#main-section .container .image-tile-1 {
  background: url("../images/image_1.jpeg"); }

#main-section .container .image-tile-2 {
  background: url("../images/image_2.jpeg"); }

#main-section .container .image-tile-3 {
  background: url("../images/image_3.jpeg"); }

#main-section .container .image-tile-1, #main-section .container .image-tile-2, #main-section .container .image-tile-3 {
  background-position: center;
  background-size: cover;
  height: 15rem; }

#section-breakfast {
  background: url("../images/image_4.jpeg");
  background-position: center;
  background-size: cover;
  position: relative; }
  #section-breakfast h1, #section-breakfast p {
    color: #fff; }

#section-services .service-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-color: #1F2531;
  /* width and height can be anything, as long as they're equal */ }

#section-services .service-circle .fa {
  color: #DAAE4F;
  font-size: 3rem;
  margin-top: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#section-services .button {
  background-color: #1F2531;
  margin-top: 1rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

#section-services .button:hover {
  color: #DAAE4F; }

#section-somewords {
  background: url("../images/somewords_bg.jpeg");
  background-position: center;
  background-size: cover;
  position: relative; }
  #section-somewords .subtitle {
    margin-bottom: 0 !important; }
  #section-somewords h1, #section-somewords p {
    color: #fff; }
  #section-somewords .fa-quote-left {
    color: #fff;
    font-size: 3rem;
    margin: 1.5rem 0; }
  #section-somewords #quotes-slider {
    padding: 0 15rem; }

#section-gallery {
  background-color: whitesmoke; }
  #section-gallery .gallery-row1-img1 {
    background: url("../images/gallery/gallery_image_1.jpeg"); }
  #section-gallery .gallery-row1-img2 {
    background: url("../images/gallery/gallery_image_2.jpeg"); }
  #section-gallery .gallery-row1-img3 {
    background: url("../images/gallery/gallery_image_3.jpeg"); }
  #section-gallery .gallery-row2-img1 {
    background: url("../images/gallery/gallery_image_4.jpeg"); }
  #section-gallery .gallery-row2-img2 {
    background: url("../images/gallery/gallery_image_5.jpeg"); }
  #section-gallery .gallery-row3-img1 {
    background: url("../images/gallery/gallery_image_6.jpeg"); }
  #section-gallery .gallery-row3-img2 {
    background: url("../images/gallery/gallery_image_7.jpeg");
    background-position: bottom !important; }
  #section-gallery .gallery-row1-img1, #section-gallery .gallery-row1-img2, #section-gallery .gallery-row1-img3,
  #section-gallery .gallery-row2-img1, #section-gallery .gallery-row2-img2,
  #section-gallery .gallery-row3-img1, #section-gallery .gallery-row3-img2 {
    background-position: center;
    background-size: cover;
    position: relative; }
  #section-gallery .gallery-row1-img1, #section-gallery .gallery-row1-img2, #section-gallery .gallery-row1-img3 {
    height: 13rem; }
  #section-gallery .gallery-row2-img1, #section-gallery .gallery-row2-img2 {
    height: 20rem; }
  #section-gallery .gallery-row3-img1, #section-gallery .gallery-row3-img2 {
    height: 13rem; }

#section-greetingfromchef {
  background: url("../images/chef_bg_1.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 40rem; }
  #section-greetingfromchef h1, #section-greetingfromchef p {
    color: #fff; }
  #section-greetingfromchef p {
    font-size: 1.4rem;
    font-weight: 330; }

#section-reservations {
  background-color: #DAAE4F; }
  #section-reservations .title {
    color: #1F2531; }

.footer {
  background-color: #1F2531; }
  .footer .title {
    color: #fff;
    font-size: 1.6rem; }
  .footer p, .footer a {
    color: #fff; }
  .footer a:hover {
    color: #DAAE4F; }
  .footer .fa-facebook, .footer .fa-twitter, .footer .fa-google-plus {
    margin-right: 0.5rem; }
  .footer .fa-map-marker, .footer .fa-phone, .footer .fa-clock-o {
    color: #DAAE4F; }
  .footer #newsletter-form #newsletter-input {
    background-color: #373B46;
    color: #fff !important;
    border: none; }
  .footer #newsletter-form #newsletter-button {
    background-color: #373B46;
    color: #DAAE4F;
    border: none;
    margin-left: 0.3rem; }

.footer2 {
  background-color: #373B46;
  padding: 2rem 0; }
  .footer2 p {
    color: #fff; }

@media (max-width: 1024px) {
  .navbar .container, .footer2 .container {
    padding: 0 1rem; }
  #section-somewords #quotes-slider {
    padding: 0 5rem; } }

@media (max-width: 1216px) {
  #section-somewords #quotes-slider {
    padding: 0 5rem; } }
