
// Footer2 Copyright Text
@media (max-width: 1024px) {
    .navbar .container, .footer2 .container {
        padding: 0 1rem;
    }
    #section-somewords #quotes-slider { 
        padding: 0 5rem; 
    }
}

// Somewords-Section Quote Text
@media (max-width: 1216px) {
    #section-somewords #quotes-slider { 
        padding: 0 5rem; 
    }
}